@{
    ViewData["Title"] = "Trang chủ";
}

<section>
	<div class="hero">
		<div class="slider">
			<div class="container">
				<!-- slide item -->
				<div class="slide active">
					<div class="info">
						<div class="info-content">
							<h3 class="top-down">
								ASUS ROG Zephyrus G14
							</h3>
							<h2 class="top-down trans-delay-0-2">
								Thiết kế thế hệ mới
							</h2>
							<p class="top-down trans-delay-0-4">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Minus sunt corrupti quis adipisci fuga nobis voluptates blanditiis tempora
								numquam!
								Dolorum repellat suscipit, modi sapiente aperiam maiores! Consequuntur labore
								impedit molestias.
							</p>
							<div class="top-down trans-delay-0-6">
								<button class="btn-flat btn-hover">
									<span>Mua ngay</span>
								</button>
							</div>
						</div>
					</div>
					<div class="img top-down">
						<img src="./img/asus-rog-zephyrus-g14.webp">
					</div>
				</div>
				<div class="slide">
					<div class="info">
						<div class="info-content">
							<h3 class="top-down">
								ASUS TUF DASH F15
							</h3>
							<h2 class="top-down trans-delay-0-2">
								Hiệu năng tuyệt vời
							</h2>
							<p class="top-down trans-delay-0-4">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Minus sunt corrupti quis adipisci fuga nobis voluptates blanditiis tempora
								numquam!
								Dolorum repellat suscipit, modi sapiente aperiam maiores! Consequuntur labore
								impedit molestias.
							</p>
							<div class="top-down trans-delay-0-6">
								<button class="btn-flat btn-hover">
									<span>Mua ngay</span>
								</button>
							</div>
						</div>
					</div>
					<div class="img right-left">
						<img src="./img/tuf-dash-f15.webp">
					</div>
				</div>
				<div class="slide">
					<div class="info">
						<div class="info-content">
							<h3 class="top-down">
								Lenovo Legion 5
							</h3>
							<h2 class="top-down trans-delay-0-2">
								Vẻ ngoài cá tính
							</h2>
							<p class="top-down trans-delay-0-4">
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Minus sunt corrupti quis adipisci fuga nobis voluptates blanditiis tempora
								numquam!
								Dolorum repellat suscipit, modi sapiente aperiam maiores! Consequuntur labore
								impedit molestias.
							</p>
							<div class="top-down trans-delay-0-6">
								<button class="btn-flat btn-hover">
									<span>Mua ngay</span>
								</button>
							</div>
						</div>
					</div>
					<div class="img left-right">
						<img src="./img/lenovo-legion-5.webp">
					</div>
				</div>
				<!-- end slide item -->
			</div>
			<!-- slider controller -->
			<button class="slide-control slide-next">
				<i class="bx bxs-chevron-right"></i>
			</button>
			<button class="slide-control slide-prev">
				<i class="bx bxs-chevron-left"></i>
			</button>
			<!-- end slider controller -->
		</div>
	</div>
	<!-- end hero section -->
	<!-- promo section -->
	<div class="promo">
		<div class="row">
			<div class="col-3 col-md-6 col-sm-12">
				<div class="promo-box">
					<i class='bx bxs-truck'></i>
					<div class="text">
						<h3>Miễn phí vận chuyển</h3>
						<p>Đối với đơn hàng trên 1.000.000đ</p>
					</div>
				</div>
			</div>
			<div class="col-3 col-md-6 col-sm-12">
				<div class="promo-box">
					<i class='bx bxs-gift'></i>
					<div class="text">
						<h3>Quà tặng hàng ngày</h3>
						<p>Tiết kiệm lên tới 25%</p>
					</div>
				</div>
			</div>
			<div class="col-3 col-md-6 col-sm-12">
				<div class="promo-box">
					<i class='bx bx-headphone'></i>
					<div class="text">
						<h3>Hỗ trợ 24/7</h3>
						<p>Hỗ trợ với vai trò chuyên gia</p>
					</div>
				</div>
			</div>
			<div class="col-3 col-md-6 col-sm-12">
				<div class="promo-box">
					<i class='bx bx-credit-card'></i>
					<div class="text">
						<h3>Thanh toán an toàn</h3>
						<p>100% bảo vệ thanh toán</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end promo section -->
	<!-- product -->
	<div class="section">
		<div class="container">
			<div class="section-header">
				<h2>Best Selling</h2>
			</div>
			<div class="row" id="lastest-product">
				<div class="col-3 col-md-6 col-sm-12">
					<!-- <div class="product-cart">
						<div class="product-cart-img">
							<img src="./img/note_10+.webp">
							<img src="./img/note_10+2.webp">
						</div>
						<div class="product-cart-info">
							<div class="product-btn">
								<button class="btn-flat btn-hover btn-cart-add">Mua ngay</button>
								<button class="btn-flat btn-hover btn-cart-add">
									<i class='bx bxs-cart-add'></i>
								</button>
								<button class="btn-flat btn-hover btn-cart-add">
									<i class='bx bxs-heart'></i>
								</button>
							</div>
							<div class="product-cart-name">
								Samsung Galaxy Note 10+
							</div>
							<div class="product-cart-price">
								<span><del>$300</del></span>
								<span class="cur-price">$200</span>
							</div>
						</div>
					</div> -->
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="section-footer">
				<a href="./products" class="btn-flat btn-hover">Xem thêm</a>
			</div>
		</div>
	</div>
	<!-- end product -->
	<!-- spdb -->
	<div class="bg-second">
		<div class="section container">
			<div class="row">
				<div class="col-4 col-md-4">
					<div class="sp-item-img">
						<img src="./img/msi-raider-ge78.webp">
					</div>
				</div>
				<div class="col-7 col-md-8">
					<div class="sp-item-info">
						<div class="sp-item-name">MSI Raider GE78</div>
						<p class="sp-item-description">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit
							tempora at impedit necessitatibus ratione nesciunt maiores consequuntur enim
							provident asperiores. Sequi et voluptatum repellat!<br>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo velit
							tempora at impedit necessitatibus ratione nesciunt maiores consequuntur enim
							provident asperiores. Sequi et voluptatum repellat!
						</p>
						<button class="btn-flat btn-hover">Mua ngay</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end spdb -->
	<!-- product -->
	<div class="section">
		<div class="container">
			<div class="section-header">
				<h2>Sản phẩm đặc biệt</h2>
			</div>
			<div class="row" id="lastest-product">
				<div class="col-3 col-md-6 col-sm-12">
					<!-- <div class="product-cart">
						<div class="product-cart-img">
							<img src="./img/note_10+.webp">
							<img src="./img/note_10+2.webp">
						</div>
						<div class="product-cart-info">
							<div class="product-btn">
								<button class="btn-flat btn-hover btn-cart-add">Mua ngay</button>
								<button class="btn-flat btn-hover btn-cart-add">
									<i class='bx bxs-cart-add'></i>
								</button>
								<button class="btn-flat btn-hover btn-cart-add">
									<i class='bx bxs-heart'></i>
								</button>
							</div>
							<div class="product-cart-name">
								Samsung Galaxy Note 10+
							</div>
							<div class="product-cart-price">
								<span><del>$300</del></span>
								<span class="cur-price">$200</span>
							</div>
						</div>
					</div> -->
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 col-md-6 col-sm-12">
					<div class="box2">
						<div class="pack_box-img">
							<img src="./img/note_10+.webp">
						</div>
						<div class="pack_box-content-item">
							<h4>Samsung Galaxy Note 10+</h4>
							<div class="reviews">
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star'></i>
								<i class='bx bxs-star-half'></i>
								<span class="rate">4.5</span>
							</div>
							<div class="price">
								9.999.999đ
								<span><del>12.999.999đ</del></span>
							</div>
							<button class="btn-flat btn-hover btn-shop-now">Mua ngay</button>
							<button class="btn-flat btn-hover btn-cart-add">
								<i class='bx bxs-cart-add'></i>
							</button>
							<button class="btn-flat btn-hover btn-favor">
								<i class='bx bxs-heart'></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="section-footer">
				<a href="./products" class="btn-flat btn-hover">Xem thêm</a>
			</div>
		</div>
	</div>
	<!-- end product -->
	<!-- blog -->
	<div class="section">
		<div class="container">
			<div class="section-header">
				<h2>Tin tức công nghệ</h2>
			</div>
			<div class="blog">
				<div class="blog-img">
					<img src="./img/blog1.1.webp">
				</div>
				<div class="blog-info">
					<div class="blog-title">
						Samsung Odyssey OLED G9 Gaming lộ diện
					</div>
					<div class="blog-preview">
						Samsung cuối cùng đã cho lên kệ bản thiết kế vĩ đại và được giới công nghệ mong đợi nhất
						từ
						trước đến nay.
						Samsung Odyssey OLED G9 Gaming sau khoảng một khoảng thời gian dài tung hint.
						Cùng tìm hiểu xem chiếc màn hình này có tinh hoa gì không nhé!
					</div>
					<button class="btn-flat btn-hover">Đọc thêm</button>
				</div>
			</div>
			<div class="blog row-revere">
				<div class="blog-img">
					<img src="./img/blog2.webp">
				</div>
				<div class="blog-info">
					<div class="blog-title">
						[Computex 2023] MSI trở lại với màn kết hợp mạnh mẽ cùng Mercedes-AMG
					</div>
					<div class="blog-preview">
						Computex 2023 đã trở lại với sự góp mặt của rất nhiều thương hiệu hàng đầu trong lĩnh
						vực
						máy tính, linh kiện, viễn thông và nhiều thiết bị công nghệ khác.
						Trong sự kiện đó không thể không nhắc đến màn kết hợp chấn động giữa MSI và
						Mercedes-AMG.
						Hàng loạt mẫu laptop ấn tượng đã ra mắt sau khoảng thời gian trì hoãn vì đại dịch vừa
						qua.
						Hãy cùng điểm danh qua một vài thông tin hấp dẫn từ nhà Rồng nhé!
					</div>
					<button class="btn-flat btn-hover">Đọc thêm</button>
				</div>
			</div>
			<div class="section-footer">
				<a href="#" class="btn-flat btn-hover">Xem thêm</a>
			</div>
		</div>
	</div>
	<!-- end blog -->
</section>
